body {
    margin: 0;
}


h1 {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
}

.subhead {
    background-color: #281B2D;
    color: #FCD801;
    font-size: 48px;
    padding: 20px;
    border-bottom: 5px solid #00C54C;
}

.white-text { color: #fff }

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.columns {
    display: flex;
}

.main-content {
    width: 65%;
    margin-right: 5%;
}

.sidebar {
    width: 30%;
}

.col-right {
    margin-left: 25px;
}
