body{
  margin: 0px;
}

h1 {
    font-size: 72px;
    background-color: #281B2D;
  color:#FFF;
    margin-top: 0px;
    padding: 60px;
  text-align: center;
}

.subhead {
    font-size: 48px;
  color:#FCD801; 
  background-color:#281B2D;
   border-bottom-style: solid;
  border-color:#00C54C; border-width: 15px;
margin: 0 0 0 0;
  padding:0px;
  text-align: center;}

.main-container {
    max-width: 1000px;
    margin: auto;

}

.columns {
  float:left; margin:10px; padding:20px; 
    display: flex;
}

.column {float:right; margin:auto;  display:flex; padding:10px;


.white-text { color: #fff }

.main-content{
    width: 50%;
  margin-top:10%;
    margin-right: 10%;
}

.sidebar {
    width: 40%;
  
}
