body{
  margin: 0px;
}

h1 {
    font-size: 72px;
    background-color: #281B2D;
  color:#FFF;
    margin: 0px;
    padding: 60px;
  text-align: center;
}

.city {

    font-size: 48px;
  color:#FCD801; 
  background-color:#281B2D;
   border-bottom-style: solid;
  border-color:#00C54C; border-width: 15px;
  outline-style: solid;
  outline-color:#f5f5f0; 
  outline-width: 30px;
    margin: 10px;
  padding:5px;
    
  text-align: center;

}
